@using ToxiCode.BuyIt.Logistics.Ui.Models
@namespace Courier


<table class="table table-active">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Business</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (key, courier) in Couriers)
    {
        <tr class="@CellColor(courier.Business)">
            <th scope="row">
                <a href="/CourierById/@key">@courier.Id</a>
            </th>
            <td>@courier.FirstName @courier.SecondName @courier.MiddleName</td>
            <td>@courier.Business</td>
        </tr>
    }
    </tbody>
</table>






@code {

    private string CellColor(Business business)
    {
        switch (business)
        {
            case Business.Free:
                return "table-success";
            case Business.ReceivesAnOrder:
                return "table-info";
            case Business.DeliversTheOrder:
                return "table-primary";
            case Business.Break:
                return "table-warning";
            case Business.Offline:
                return "table-muted";
            default:
                throw new ArgumentOutOfRangeException(nameof(business), business, null);
        }
    }
    
    [Parameter]
    public IDictionary<long, NCourier> Couriers { get; set; } = new Dictionary<long, NCourier>();
}