@using ToxiCode.BuyIt.Logistics.Ui.Models
@namespace Components


<div class="d-flex flex-column align-items-center text-center p-3 py-5" style="max-width: 500px!important;">
    <CourierBusiness Business="Courier.Business"/>
    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
    <span style="font-weight: bold; font-size: x-large;">@Courier.FirstName @Courier.SecondName @Courier.MiddleName</span>
    <span class="text-black-50">@Courier.Mail</span>
    <div class="row mt-2">
        <div class="col-md-12">
            <label class="labels">Mobile Number</label>
            <label class="labels">@Courier.PhoneNumber</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <label class="labels">Birth date</label>
            <label class="labels">@Courier.BirthDate</label>
        </div>
    </div>
    <button class="btn btn-primary btn-lg mt-3">Написать курьеру</button>
</div>


@code {

    [Parameter]
    public NCourier Courier { get; set; } = null!;

}